@import url("https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Quicksand:wght@300..700&display=swap");

:root {
    --primary-font: "Encode Sans", sans-serif;
    --secondary-font: "Nunito", sans-serif;
    --primary-color: #f0f8fa;
    --secondary-color: #468189;
    --primary-font-color: #000000;
    --primary-color-highlight: #dbf1f7;
    --secondary-color-highlight: #93d1da;
}

/* Global Styles*/
body {
    background-color: var(--primary-color);
    font-family: var(--primary-font);
    color: var(--primary-font-color);
}

/* Navbar Section */
#navbar {
    background-color: var(--primary-color);
    font-size: 1.5rem;
}

.nav-link.active {
    font-weight: bold;
}

.nav-item a:hover {
    color: var(--secondary-color-highlight);
}

.dropdown-menu {
    background-color: var(--primary-color);
}

.dropdown-item:hover {
    background-color: var(--secondary-color);
    font-weight: bold;
}

/* Header Section */
#header {
    background: url("../images/Hero-Image.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 25% 50%;
}

.hero-text {
    color: var(--secondary-color);
}

#affirmations-carousel p {
    font-style: italic;
}

/* Main Section */
.card {
    width: 20rem;
}

.card .btn {
    background-color: var(--primary-color);
}

.card .btn:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color-highlight);
}

.affirmation-text {
    font-size: 2rem;
}

#mental-health div strong {
    color: var(--secondary-color);
    font-weight: bold;
}

/* Footer Section */
#footer {
    background-color: var(--secondary-color);
}

.contact-icon {
    color: var(--primary-color);
}

.affirmation-icon {
    color: var(--primary-color);
}

.crisis-links a {
    color: var(--primary-color);
    font-size: larger;
}

.crisis-links a:hover {
    color: var(--primary-color-highlight);
}

.social-links a {
    color: var(--primary-color);
    padding: 20px;
}

.social-links a:hover {
    color: var(--primary-color-highlight);
}

/* Media Queries */
@media screen and (min-width: 768px) {
    .hidden-icon {
        visibility: hidden;
    }
}
