@import url("https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Quicksand:wght@300..700&display=swap");

:root {
    --primary-font: "Encode Sans", sans-serif;
    --secondary-font: "Nunito", sans-serif;
    --primary-color: #f0f8fa;
    --secondary-color: #468189;
    --primary-font-color: #000000;
    --primary-color-highlight: #dbf1f7;
    --secondary-color-highlight: #93d1da;
}

/* Global Styles*/
body {
    background-color: var(--primary-color);
    font-family: var(--primary-font);
    color: var(--primary-font-color);
}

.section {
    padding-top: 5rem;
}

h2 {
    color: var(--secondary-color);
    font-weight: 700;
}

/* Navbar Section */
#navbar {
    background-color: var(--primary-color);
    font-size: 1.5rem;
}

#logo {
    height: 50px;
    width: 50px;
}

.nav-link.active {
    font-weight: 700;
}

.nav-item a:hover {
    color: var(--secondary-color-highlight);
}

.dropdown-menu {
    background-color: var(--primary-color);
    border-radius: 0%;
}

.dropdown-item:hover {
    background-color: var(--secondary-color);
    font-weight: 700;
}

/* Header Section */
#header {
    background: url("../images/Hero-Image.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 25% 50%;
}

.hero-text {
    color: var(--secondary-color);
    text-shadow: 1px 1px 2px slategray;
}

#affirmations-carousel p {
    font-weight: 700;
    color: var(--primary-color);
}

/* Main Section */
.sub-heading {
    font-size: 2.6rem;
}

main div strong {
    color: var(--secondary-color);
    font-weight: 700;
}

.card {
    width: 20rem;
    background-color: var(--primary-color);
}

.card:hover {
    background-color: var(--primary-color-highlight);
    color: var(--secondary-color);
}

.card-title {
    color: var(--secondary-color);
    font-weight: 700;
}

.btn {
    background-color: var(--primary-color-highlight);
    color: var(--secondary-color);
    font-size: 1.25rem;
    font-weight: 700;
}

.btn:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color-highlight);
}

.affirmation-text {
    font-size: 2rem;
}

#stress-management {
    font-size: 1.2rem;
}

#stress-management td {
    background-color: var(--primary-color);
}

.stress-tip {
    color: var(--secondary-color) !important;
    font-weight: 700;
}

.resource-button {
    background-color: var(--primary-color-highlight);
    font-size: 150%;
}

.resource-button:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color-highlight);
}

li h3 {
    color: var(--secondary-color);
    font-weight: 700;
}

#mental-health-resources img {
    border-radius: 50%;
}

#stress-management-resources h2 {
    color: var(--secondary-color);
}

.card,
.btn,
.card-img-top {
    -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
}

/* Footer Section */
#footer {
    background-color: var(--secondary-color);
}

#footer h3 {
    color: var(--primary-color-highlight);
}

.contact-icon {
    color: var(--primary-color);
}

.affirmation-icon {
    color: var(--primary-color);
}

.crisis-links a {
    color: var(--primary-color);
    font-size: 1.22rem;
}

.crisis-links a:hover {
    color: var(--primary-color-highlight);
}

.social-links a {
    color: var(--primary-color);
    padding: 20px;
}

.social-links a:hover {
    color: var(--primary-color-highlight);
}

/* Media Queries */
/* Extra Small Devices */
@media screen and (max-width: 576px) {
    #mental-health-resources img {
        -o-object-fit: cover;
        object-fit: cover;
    }
}

/* Small Devices */
@media screen and (min-width: 576px) {
    #mental-health-resources img {
        -o-object-fit: cover;
        object-fit: cover;
    }
}

/* Medium Devices */
@media screen and (min-width: 768px) {
    .hidden-icon {
        visibility: hidden;
    }

    .address {
        text-align: start;
    }

    .crisis-links {
        text-align: start;
    }

    #mental-health-resources img {
        max-height: 520px;
        max-width: 520px;
    }
}

/* Large Devices */
@media screen and (min-width: 992px) {
    #mental-health-resources img {
        max-height: 300px;
        max-width: 320px;
    }

    .dropdown-menu {
        padding-top: 0.62rem;
    }

    .dropdown:hover .dropdown-menu {
        display: block;
    }
}

/* Extra Large Devices */
@media screen and (min-width: 1200px) {
    .dropdown-menu {
        border-style: none;
        padding-top: 0.74rem;
    }
}
